.student-nav {
	--nav-color: #c6c6c8ff;

	position: sticky;
	left: 5%;
	width: 90%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background: var(--nav-color);
	border-radius: var(--border-radius);
}

.student-nav span {
	justify-content: center;
	text-align: center;
	width: 20%;
	height: 100%;
}

#student-nav-info {
	width: max-content;
	height: max-content;
	padding: 5px;
}

#student-nav-info * {
	font-size: 1.5em;
}

#student-nav-arrow-left {
	display: flex;
	padding-left: 1%;
	padding-bottom: 0.5%;
	flex-direction: column;
	align-items: flex-start;
	font-size: 5rem;

	& > a {
		display: flex;
		justify-content: center;
		margin-top: 2.1%;
	}
}

#student-nav-arrow-right {
	display: flex;
	padding-right: 1%;
	padding-bottom: 0.5%;
	flex-direction: column;
	align-items: flex-end;
	font-size: 5rem;

	& > a {
		display: flex;
		justify-content: center;
		margin-top: 2.1%;
	}
}

@media (prefers-color-scheme: dark) {
	.student-nav {
		--nav-color: #38383aff;
	}
}
