.skill-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	list-style: none;
	background: var(--nav-color);
	border-radius: var(--border-radius);
}

.skill-nav a {
	justify-content: center;
	text-align: center;
	width: 20%;
	height: 100%;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.skill-nav {
		--nav-color: #38383aff;
	}
}
