.skill-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	list-style: none;
	background: var(--nav-color);
	border-radius: var(--border-radius);
}

.skill-nav a {
	justify-content: center;
	text-align: center;
	width: 20%;
	height: 100%;
	cursor: pointer;
}

table {
	width: 100%;

	& > * {
		outline: 1px solid CanvasText;
	}
}

thead {
	text-align: center;
}

td {
	padding: 0.5em;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	.skill-nav {
		--nav-color: #38383aff;
	}
}
